.task-bg-main {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  display: none;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: #00000031;
}
.task-bg-main p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #2a3647;
}

.task-main-div {
  z-index: 2;

  max-height: 100vh;

  width: 396px;
  padding: 32px 16px;
  margin: 16px;
  box-sizing: border-box;
  border-radius: var(--borderRadius);

  background-color: #ffffff;

  transform: translateX(300%);
  transition: transform 0.08s ease-out;
}
.task-main-div.visible {
  transform: translateX(0%);
}

.task-content-main-div{
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding-left: 8px;
  padding-right: 8px;

  max-height: calc(100vh - 64px);
  overflow-y: auto;

  box-sizing: border-box;
}

.task-main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
}

.task-label-div {
  border-radius: 8px;
  padding: 4px 16px;
  gap: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #ffffff;

  height: 27px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.task-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 43.2px;
  color: #000000;
}

.task-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  max-height: 200px;
  overflow-y: auto;
}

.task-description::-webkit-scrollbar {
  width: 10px;
}

.task-description::-webkit-scrollbar-track {
  background-color: var(--bg-color-white);
}

.task-description::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 5px;
  height: auto;
}

.task-description::-webkit-scrollbar-button:end {
  background-color: var(--bg-color-white);
  background-repeat: no-repeat;
  background-size: 80%;
  height: 6px;
  width: 10px;
  background-position-y: 100%;
  background-position-x: 50%;
}

.task-description::-webkit-scrollbar-button:start {
  background-color: var(--bg-color-white);
  background-repeat: no-repeat;
  background-size: 80%;
  height: 10px;
  width: 10px;
  background-position-y: 50%;
  background-position-x: 50%;
}

.task-description::-webkit-scrollbar-button:vertical:start:decrement {
  display: block;
  background-image: url("../assets/icon/vectorUp.png");
}

.task-description::-webkit-scrollbar-button:vertical🔚decrement {
  display: block;
  background-image: url("../assets/icon/vectorDown.png");
}

.task-due-prio-line {
  display: flex;
  align-items: center;
  gap: 25px;
}
.task-due-prio-line :nth-child(1) {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #42526e;
}
.task-due-prio-line :nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #000000;
}

.task-priority {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 4px 18px;
  box-sizing: border-box;
}

/* task assigned to users */
.task-assigned-to-container{
  max-height: 200px;
  overflow-y: auto;
}

.task-assigned-to-main {
  width: 100%;

  display: flex;
  flex-direction: column;
}
#boardAssigned {
  margin-bottom: 8px;
}
.task-assigned-to-main span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #42526e;
}

.task-assigned-users-div {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.task-assigned-user-main {
  width: 100%;
  padding: 7px 16px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}
.task-assigned-user-inner {
  display: flex;
  align-items: center;
  gap: 16px;
}
.task-assigned-user-inner :nth-child(1) {
  width: 40px;
  height: 40px;
}
.task-assigned-user-inner :nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #000000;
}

/* task subtask */
.task-subtasks-main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.task-subtasks-main span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #42526e;
}

.task-subtasks-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 200px;
  overflow-y: auto;
}

.task-subtask {
  width: fit-content;
  height: 100%;
  padding: 6px 16px;
  box-sizing: border-box;
  border-radius: 3px;

  display: flex;
  align-items: center;
  gap: 16px;
}
.task-subtask p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #000000;
}
.task-subtask img:hover {
  cursor: pointer;
}

/* footer task */
.task-main-footer {
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.task-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.task-footer-del-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: var(--colorBgPrimary);
}
.task-footer-del-edit:hover {
  color: #29abe2;
  cursor: pointer;
  font-weight: bold;
}

#taskFooterEdit {
  padding-left: 8px;
  border-left: 1px solid #d1d1d1;
}

/* ----------- */
/* MEDIA QUERY */
/* ----------- */
@media (min-width: 431px) {
  .task-bg-main p {
    font-size: 20px;
    line-height: 24px;
  }

  #task-x-btn:hover {
    background-color: #eeeeee;
    border-radius: 50%;
    cursor: pointer;
  }
  .task-subtask:hover {
    background-color: var(--colorBgSecondary);
    cursor: pointer;
    border-radius: var(--borderRadiusSmall);
  }
  .task-grey-line {
    opacity: 0;
  }
}

@media (min-width: 1097px) {
  .task-main-div {
    width: 525px;
    gap: 24px;
    padding: 48px 40px;
  }
  .task-description {
    font-size: 20px;
    line-height: 24px;
  }

  .task-due-prio-line :nth-child(1) {
    font-size: 20px;
    line-height: 24px;
  }
  .task-due-prio-line :nth-child(2) {
    font-size: 20px;
    line-height: 24px;
  }

  .task-assigned-to-main span {
    font-size: 20px;
    line-height: 24px;
  }

  .task-assigned-user-inner :nth-child(2) {
    font-size: 19px;
    line-height: 22.8px;
  }

  .task-subtasks-main span {
    font-size: 20px;
    line-height: 24px;
  }

  #taskFooterEdit {
    border-left: none;
    padding-left: 8px;
  }
  #taskFooterEdit:hover {
    border-left: 1px solid #d1d1d1;
  }

  .task-main-header {
    height: 36px;
  }

  #task-x-btn {
    height: 32px;
    width: 32px;
  }

  .task-label-div {
    height: 36px;
  }

  .task-headline {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
    color: #000000;
  }
}
